body{
  padding: 0;
  margin: 0;
  background-color: rgb(214, 212, 212); 
  /* background-color: black; */
}

.main-content{
 display: flex;
 flex-wrap: wrap;
 padding: 10px 60px 0;
 justify-content: space-between;
}

h1{
  text-align: center;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 20px 0px 20px 0;
  display: flex;
}

.card-body{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width:26vw;
  height: auto;
  border: 1px solid white;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgb(146, 145, 145);
}

.image{
  width: 30%;
  margin-right: 10px;
}

.image img{
  max-width: 100%;
  height: auto;
}

.name{
 font-size: 25px;
 font-weight: 600;
 text-transform: capitalize;
}

.position{
  font-size: 18px;
  color: rgb(143, 140, 140);
}

.detail{
  width: 70%;
}

.position{
  margin-left: 2.5rem;
}

.git-content-content{
  color: rgb(143, 140, 140);
  font-size: 12px;
}

.git-detail{
  margin-top: 10px;
  display: flex;
  text-align: center;
  width:18vw;
}

.git-detail-body{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 7px;
  width:100%;
  height: auto;
  border: 1px solid rgb(243, 241, 241);
  background-color: rgb(243, 241, 241);
  color: black;
}

.git-content{
  display: flex;
  flex-direction: column;
}